@font-face {}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

body>* {
  background-color: rgba(255, 0, 0, 0.5);
  /*красный*/
}

body>*>* {
  background-color: rgba(255, 255, 0, 0.5);
  /*желтый*/
}

body>*>*>* {
  background-color: rgba(0, 255, 0, 0.5);
  /*зеленый*/
}

body>*>*>*>* {
  background-color: rgba(255, 0, 255, 0.5);
  /*фиолетовый*/
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main-header {
  position: relative;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -70px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0 73px;
  height: 55px;
  align-items: center;
}

.site-navigation li {
  width: 25%;
}

.site-navigation li:first-child {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  text-align: left;
}
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:last-child {
  text-align: right;
}

.site-navigation a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.site-navigation a:not(.current):hover,
.site-navigation a:not(.current):focus {
  color: #81b3d2;
}

.site-navigation a:not(.current):active {
  color: #d2d2d2;
}

a.current {
  color: #766357;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* главная */
.promo {
  background-image: url("../img/background-photo.jpg") no-repeat;
  background-size: 1200px auto;
  margin-bottom: 55px;
}

.reasons {
  text-align: center;
}

.reasons-header {
  width: 575px;
  margin: 0px auto 55px;
}

.reasons-intro {
  font-size: 21px;
  line-height: 26px;
}

.reasons-description {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
}

.reasons-item-row {
  display: flex;
  justify-content: space-between;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
}

.reasons-item-info h3,
.advantages-item h4,
.reasons-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.reasons-item-info {
  color: #ffffff;
  width: 400px;
  min-height: 218px;
}

.reasons-item-info p {
  text-align: center;
}

.reasons-item-info p,
.advantages-item p,
.reasons-item p,
span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.reasons-item-img img,
.reasons-item-img-2 img {
  width: 800px;
  display: block;
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 155px 0px 85px;
}

.advantages-item-row {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: 400px;
}

.advantages-item p,
.gray p,
.gray span {
  color: #333333;
  font-weight: normal;
}

.reasons-list,
.advantages {
  list-style: none;
}

.gray {
  background-color: #eeeeee;
  flex-basis: 33.333%;
}

.reasons-item h3 {
  margin: 0;
  padding: 45px 0 25px;
}

.description {
  margin: 0;
  padding: 30px 0 60px;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.search-header,
.header-button {
  margin: 0px auto;
}

.search-header {
  width: 470px;
  margin-bottom: 50px;
  text-align: center;
}

.search-header h2 {
  margin: 0;
  padding-top: 55px;
}

.advice-date {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.header-button {
  display: block;
  width: 570px;
  padding: 10px;
  margin: auto;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 55px;
  width: 460px;
  margin: auto;
}

.input-info {
  width: 455px;
  margin: 0;
  margin-bottom: 28px;
}

.search-form label {
  align-items: left;
}

.search-form input {
  box-sizing: border-box;
  width: 345px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
}

.search-form .number {
  width: 115px;
}

.search button {
  background-color: #766357;
}

.search button:hover,
.search button:focus {
  background-color: #604e43;
}

.search button:active {
  background-color: #503e33;
}

.search-form .search-btn {
  background-color: #81b3d2;
  display: block;
  width: 100%;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  background-color: #5496bd;
}

.date,
.number {
  background-color: #f2f2f2;
}

.date:hover,
.number:hover {
  background-color: #ebebeb;
}

.date:focus,
.number:focus {
  background-color: #ffffff;
}

.map img {
  display: block;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 120px;
  padding: 45px 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.hashtag {
  color: #000000;
  margin-left: 133px;
}

.footer-social {
  text-align: center;
  list-style: none;
}

.footer-social ul {
  display: flex;
  width: 151px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.copyright {
  text-align: right;
  line-height: 26px;
  margin-right: 100px;
}

/* каталог */

.housing-form {
  display: flex;
  padding: 30px 72px;
  color: #ffffff;
}

.housing-form-fieldset ul {
  list-style: none;
}


.filters {
  margin: 0;
  padding: 0;
}

.housing-form-fieldset {
  border: none;
  margin-right: 0;
  padding: 0;
}

.housing-form-fieldset:first-of-type {
  margin-right: 110px;
}

legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.range {
  margin-left: auto;
}

.range-filter {
  width: 330px;
  margin: 0px auto;
  color: #ffffff;
  text-transform: uppercase;
}

.range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
  font-weight: normal;
}

.price-controls input {
  width: 50px;
  margin: 0;
  font-size: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toogle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.min-toogle {
  left: 0;
}

.max-toogle {
  left: 80%;
}

.toogle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-option {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.filter-option:first-of-type {
  margin-top: 23px;
}

.filter-option span {
  height: 21px;
  width: 21px;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;
}


[type=checkbox]:checked+span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 23px;
  color: #ffffff;
}

.user-sorting,
.arrow-sorting,
.sort-header {
  margin: 0;
}

.sort-block {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  width: 115px;
  margin-left: 71px;
}


.sort-header {
  width: 80px;
  margin-left: 50px;
  margin-right: 25px;
}

.user-sorting {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}

.sort-item {
  margin-right: auto;
  width: 80px;
  text-align: left;
  flex-wrap: nowrap;
}

.sort-header,
.sort-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-link {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sort-link:hover,
.sort-link:focus {
  color: #81b3d2;
}

.sort-link:active {
  color: #000000;
  border-bottom: none;
}

.sort-link.active {
  color: #81b3d2;
  border-bottom: none;
}

.arrow-sorting {
  display: flex;
  margin-left: auto;
}

.sort-icon {
  margin-right: 10px;
}

.arrow-item:last-of-type {
  padding-right: 73px;
}

.arrow-sorting li,
.hotels-list li {
  list-style: none;
}

.hotels-item-info {
  margin-left: 30px;
}

.hotels-item-info h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.sort-block {
  display: flex;
  justify-content: space-between;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}



a.hotel-name {
  color: #000000;
}

a.hotel-name:hover,
a.hotel-name:focus {
  color: #81b3d2;
}

a.hotel-name:active {
  color: #cacaca;
}

.type-and-price span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.button.more {
  background-color: #81b3d2;
}

.button.more:hover,
.button.more:focus {
  background-color: #669ec0;
}

.button.more:active {
  background-color: #5496bd;
  opacity: 0.7;
}

.button.booking {
  background-color: #766357;
}

.button.booking:hover,
.button.booking:focus {
  background-color: #604e43;
}

.button.booking:active {
  background-color: #503e33;
  opacity: 0.7;
}

.hotels-list {
  padding: 0;
}

.hotels-item {
  display: flex;
  align-items: center;
  padding: 0 73px;
}

.rating {
  margin-left: auto;
}

.rating span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: #f2f2f2;
}
