@font-face {
    font-family: 'PT Sans';
    src: url('ptsans.eot');
    src: local('PT Sans'), local('PTSans-Regular'),
         url('ptsans.eot?#iefix') format('embedded-opentype'),
         url('ptsans.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #81b3d2;
}

.site-navigation a:active {
  background-color: #d2d2d2;
}

a.current {
  background-color: #766357;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* главная */
.promo {
background-image: url("../img/background-photo.jpg");
}


.reasons {
  text-align: center;
}

.reasons-intro {
  font-size: 21px;
  line-height: 26px;
}

.reasons-description {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color:#333333;
}

.reasons-item-info h3,
.advantages-item h4,
.reasons-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.reasons-item-info {
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-item-info p,
.advantages-item p,
.reasons-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.advantages-item p,
.gray p,
.gray span {
  color:#333333;
  font-weight: normal;
}

.reasons-list,
.advantages {
  list-style: none;
}

.gray {
  background-color:#eeeeee;
}

.button {
 font: inherit;
 text-align: center;
 color: #ffffff;
 vertical-align: middle;
 text-transform: uppercase;
 border: none;
}

.search button {
  background-color: #766357;
}

.search button:hover,
.search button:focus {
  background-color: #604e43;
}

.search button:active {
  background-color: #503e33;
}

.search-btn {
  background-color: #81b3d2;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  background-color: #5496bd;
}

.date,
.number {
  background-color: #f2f2f2;
}

.date:hover,
.number:hover {
  background-color: #ebebeb;
}

.date:focus,
.number:focus {
  background-color: #ffffff;
}

.hashtag {
  color: #000000;
}

.footer-social {
  text-align: center;
  list-style: none;
}

.copyright {
  text-align: right;
  line-height: 26px;
}

/* каталог */
.inner-page {
  background-color: gray;
}

.housing-form-fieldset ul {
  list-style:none;
}

.filter-option label,
 .filter-option input {
  display: none;
}

.filter-option span {
  height: 12px;
  width: 12px;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  background-color:#FFF;
  border-radius:2px;
  padding:3px;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0;
  font-size:23px;
  color: #ffffff;
}

.sort-link.active {
  color: #81b3d2;
}
